.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.1rem;
}

.name {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 900;
  letter-spacing: -0.025em;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-text-muted);
}
