@use './styles/animations';

.app {
  color: var(--color-text);
  background-color: var(--color-bg);
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: 4rem 1.5rem 1.5rem;
}

.sectionContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.sectionFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  padding-bottom: 0.5rem;
}

.emergeFooter {
  @include animations.emerge-on-load(0.6s);
}
